
*{
    
    text-align: center;
    background-color: lightskyblue;
}

.hide{
    display: none;
}

header{
    background-color: aliceblue;
}

button{

    display: inline-block;
    padding:2%;
    margin: 5px;
}

.nextButton{
    text-align: center;
}